@import '_vars';
@import 'modules/_errors';
@import 'modules/header';
@import 'modules/about';
@import 'modules/work';
@import 'modules/slide';
@import 'modules/contact';
@import 'modules/footer';

#container1{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

#container2{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color:black;
}

body{
  background-color:black;
  img {
    width: 100%;
  }
}


// .aboutImg {
//     position: relative;
//     overflow: hidden;
//     width: 300px;
//     height: 600px; 
//     border: 1px solid black;
// }

// #kahaniImg {
//     position: absolute;
//     left: -600px;
//     width: 600px;
//     height: 600px;
//     background: blue;
//     -webkit-animation: slide 0.5s forwards;
//     -webkit-animation-delay: 2s;
//     animation: slide 0.5s forwards;
//     animation-delay: 2s;
// }

// @-webkit-keyframes slide {
//     100% { left: 0; }
// }

// @keyframes slide {
//     100% { left: 0; }
// }

.hidden{
  display: none;
}

p{
  font-family: $font;
}

h1, h2, h3{
  font-family: $title;
}