@import '_vars';
@import 'modules/_errors';
@import 'modules/_header';
@import 'modules/_about';
@import 'modules/_work';
@import 'modules/_slide';
@import 'modules/_contact';
@import 'modules/_footer';
@import 'modules/_portfolio';


html {
  scroll-behavior: smooth;
}

#container1{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}

#container2{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color:black;
}

body{
  background-color:black;
  img {
    width: 100%;
  }
}


.hidden{
  display: none;
}

p{
  font-family: $font;
}

h1, h2, h3{
  font-family: $title;
}