<!DOCTYPE html>
<html lang="en">
{{!-- All static contet goes here in this file --}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>

<body>
    <h1>My Favourite Movies</h1>

    <main>
        {{!-- dynamic content goes here between handle bars --}}
        {{{ body }}}
    </main>

    <footer>
        <p>The list goes on...</p>

    </footer>

    <a id="to-top" href="#" class="nav-item">back to top</a>

    <script type="module" src="js/main.js"></script>


</body>

</html>