
#footer {
    text-align: center;
    color: white;
    margin-bottom: 5%;
    margin-top: 5%;
    a {
        text-decoration: none;
        color: white;
        font-size: 13px;
        &:hover{
            color: $yellow;
            transition: all 1s ease;
        }
    }
    .footersocial {
        margin-bottom: 5%;
        display: flex;
        justify-content: space-evenly;
    }
    p {
        font-size: 13px;
    }
}


@media screen and (min-width: 768px) {
    #footer {
        display: flex;
        flex-direction: row;
        a {
            font-size: 18px;
        }
        .footersocial {
            width: 50%;
        }
        p {
            font-size: 18px;
            width: 50%;
        }
    }
}

@media screen and (min-width: 1200px) {
    #footer {
        margin-bottom: 3%;
        a {
            font-size: 20px;
        }
        p {
            font-size: 20px;
        }
    }
}