.nav-item{
    font-family: $title;
}
#mainNav {
    position: fixed;
    top: 20px;
    right: 10px;
    font-weight: bold;
    z-index: 99;
    ul li a{
        border-left: $green 2px solid;
        transition: all 1s ease;
        padding-left: 10px;
        color: $green;
        font-size: 8px;
        line-height: 10px;
    }
    li:hover a {
        color: $yellow;
        transition: all 1s ease;
    }
}

#mainLogo {
    position: fixed;
    z-index: 99;
    top:20px;
    left:5px;
    width: 15%;
    #logoK{
        display: flex;
        width: 65%;
        height: 77px;
        margin-left: 2px;
    }
}


#home{
    width: 100%;
    video {
        width: 100%;
    }
}


@media screen and (min-width: 768px) {
    #mainLogo{
        top:20px;
        left:10px;
        margin-left: 10px;
        margin-top: 10px;
    }

    #mainNav {
        
        top: 40px;
        right: 20px;
        ul li a{
            padding-bottom: 8px;
            font-size: 14px;
            line-height: 25px;
        }
    }
}

@media screen and (min-width: 1200px) {
    #mainLogo{
        top: 20px;
        left: 20px;
        margin-left: 20px;
        margin-top: 20px;
    }


    #mainNav {
        
        top: 70px;
        right: 35px;
        ul li a {
            padding-bottom: 8px;
            font-size: 19px;
            line-height: 35px;
        }
    }
}