#container{
    background-color: white;
    margin-top: -3px;

#content{ 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: white;
    position: relative;

    #sliderPort{
        position: absolute;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        z-index: 20;
        margin-top: 60px;
    }
    
        #titles{
            position: relative;
            padding-top: 30vw;
            h1 { 
                margin-top: 30px;
                text-align: center;
                font-family: $title;
                font-size: 25px;
                color:white;
                background-color: black;
                padding: 130px 5px 20px 5px;
            }
            
            
            

            #tags {
                    display: flex;
                    flex-direction: column;
                    width: 120%;
                    justify-content: space-evenly;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-size: 16px;

                    #year{
                        font-family: $title;
                        h2{
                            color: $yellow;
                            padding-bottom: 10px;
                        }
                        p{
                            color: black;
                            font-weight: bold;
                        }
                    }
                    #role{
                        h2{
                            color: $yellow;
                            padding-bottom: 10px;
                            padding-top: 15px;
                        }
                        p {
                            width:160px;
                            color: black;
                            font-weight: bold;
                        }

                    }
                   
                    }
                    
                    #skills {
                        h2{
                            color: $yellow;
                            padding-bottom: 10px;
                        }
                        p {
                            width:140px;
                            color: black;
                            font-weight: bold;
                            padding-bottom: 20px;
                        }
                    }
                
    }
}

#info{
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
    background-color: white;

    p{
        font-family: $font;
        color: black;
        font-size: 13px;
    }
    .mid{
        background-color:black;
    }
}


}
#botImg {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {

#container{
#content{ 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    color: white;
    position: relative;

    #sliderPort{
        position: absolute;
        width: 70%;
        margin-left: 30%;
        // margin-right: 5%;
        z-index: 20;
        margin-top: 60px;
    }
    
        #titles{
            display: flex;
            flex-direction: row;
            width: 100%;
            position: relative;
            padding-top: 30vw;
            .ttt {
                width: 70%;
                #titleBox{
                    border-top:$green solid 10px;
                    border-left: $green solid 10px;
                    width: 80%;
                    height: 50px;
                    margin-left: 50px;
                }
                
                #tags{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-evenly;
                    padding-top: 30px;
                    padding-bottom: 30px;
                    font-size: 18px;

                    #year{
                        h2{
                            font-size: 32px;
                            margin-left: 1px;
                            padding-top: 15px;
                        }
                        p{
                            font-weight: bold;
                        }
                    }

                    #role{
                        h2{
                            font-size: 32px;
                        }
                        p{
                            font-weight: bold;
                        }
                    }
                }
    
                
                h1 { 
                    margin-top: 0px;
                    // margin-right: 150px;
                    text-align: center;
                    font-family: $title;
                    font-size: 40px;
                    color:white;
                    background-color: black;
                    padding: 220px 5px 80px 5px;
                }
            }

            #skills {
                margin-top: 200px;
                h2 {
                    width: 100px;
                    font-size: 32px;
                    padding: 20px 0px 20px 10px;
                    border-right: $green solid 10px;
                    border-bottom: $green solid 10px;
                    margin-bottom: 20px;
                }
                p {
                    margin-left: 10px;
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: bold;
                }
            }

        }

    }
    #info{
        p{
            font-family: $font;
            font-size: 18px;
            padding-bottom: 40px;
            line-height: 22px;
        }
    }
}
#info{
    padding-left: 15%;
    padding-right: 15%;
    width: 70%;
    background-color: white;

    p{
        font-family: $font;
        color: black;
        font-size: 23px;
    }
    .mid{
        background-color:black;
    }
}
}

@media screen and (min-width: 1000px) {
        #container{
            #content{ 
                #titles{
                #skills {
                    margin-top: 250px;
                    h2 {
                        width: 100px;
                        font-size: 45px;
                        padding: 20px 55px 20px 10px;
                        border-right: $green solid 10px;
                        border-bottom: $green solid 10px;
                        margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

@media screen and (min-width: 1200px) {
    #container{
        #content{ 
            margin-left: auto;
            margin-right: auto;
            width: 70%;
            color: white;
            position: relative;
        
            #sliderPort{
                position: absolute;
                width: 70%;
                margin-left: 30%;
                // margin-right: 5%;
                z-index: 20;
                margin-top: 60px;
            }
            
                #titles{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    position: relative;
                    padding-top: 30vw;
                    .ttt {
                        width: 70%;
                        #titleBox{
                            border-top:$green solid 10px;
                            border-left: $green solid 10px;
                            width: 80%;
                            height: 50px;
                            margin-left: 50px;
                        }
            
            
                        
                        h1 { 
                            margin-top: 0px;
                            text-align: center;
                            font-family: $title;
                            font-size: 64px;
                            color:white;
                            background-color: black;
                            padding: 400px 5px 80px 5px;
                        }
                        #tags{
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            justify-content: space-evenly;
                            padding-top: 30px;
                            padding-bottom: 30px;
                            font-size: 18px;
        
                            #year, #role{
                                width: 30%;
                                h2{
                                    font-size: 45px;
                                    margin-left: 1px;
                                }
                                p {
                                    width: 100%;
                                    font-size: 24px;
                                }
                            }
        
                        }
                    }
        
                    #skills {
                        margin-top: 290px;
                        h2 {
                            width: 100px;
                            font-size: 45px;
                            padding: 20px 55px 20px 10px;
                            border-right: $green solid 10px;
                            border-bottom: $green solid 10px;
                            margin-bottom: 20px;
                            }
                        p {
                            font-size: 24px;
                            line-height: 22px;
                        }
                    }
        
                    
                    
                }
            }
        }
        #info{
            padding-left: 15%;
            padding-right: 15%;
            width: 70%;
            background-color: white;
        
            p{
                font-family: $font;
                color: black;
                font-size: 23px;
            }
            .mid{
                background-color:black;
            }
        }

   
}

@media screen and (min-width: 1400px) {
    #container{
        #content{ 
            #titles{
            #skills {
                margin-top: 330px;
                h2 {
                    width: 100px;
                    font-size: 45px;
                    padding: 20px 55px 20px 10px;
                    border-right: $green solid 10px;
                    border-bottom: $green solid 10px;
                    margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1600px) {
    #container{
        #content{ 
            #titles{
            #skills {
                margin-top: 360px;
                h2 {
                    width: 100px;
                    font-size: 45px;
                    padding: 20px 55px 20px 10px;
                    border-right: $green solid 10px;
                    border-bottom: $green solid 10px;
                    margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
 